<div class="panel panel-primary" ng-controller="mainController">
    <div class="panel-heading">
        <center><b>CRUD OPERATION</b></center>
    </div>
    <div class="panel-body">
        <!-- //creating app and controller
 -->
        <div>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>First-Name</td>
                    <td>
                        <input type="text" class="form-control" ng-model="item.fname" />
                    </td>
                </tr>
                <tr>
                    <td>Last-Name</td>
                    <td>
                        <input type="text" class="form-control" ng-model="item.lname" />
                    </td>
                </tr>
                <tr>
                    <td>EmailID</td>
                    <td>
                        <input type="text" class="form-control" ng-model="item.email" />
                    </td>
                </tr>
                <tr>
                    <td>Phone-No</td>
                    <td>
                        <input type="text" class="form-control" ng-model="item.phone" />
                    </td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>
                        <input type="text" class="form-control" ng-model="item.city" />
                    </td>
                </tr>
                <tr>
                    <td class="text-right" colspan="2">
                        <button ng-click="addItem()" class="btn btn-primary">
                            Add
                        </button>
                    </td>
                </tr>
            </table>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>First-Name</th>
                        <th>Last-Name</th>
                        <th>EmailID</th>
                        <th>Phone-No</th>
                        <th>City</th>
                        <th>Edit</th>
                        <th>Remove</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item1 in items track by $index" ng-class="{'selected':$index ==selectedRow}" ng-click="setClickedRow($index)">
                        <td><span ng-hide="editMode">{{item1.fname}}</span>
                            <input type="text" ng-show="editMode" ng-model="item1.fname" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item1.lname}}</span>
                            <input type="text" ng-show="editMode" ng-model="item1.lname" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item1.email}}</span>
                            <input type="text" ng-show="editMode" ng-model="item1.email" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item1.phone}}</span>
                            <input type="text" ng-show="editMode" ng-model="item1.phone" />
                        </td>
                        <td>
                            <span ng-hide="editMode">{{item1.city}}</span>
                            <input type="text" ng-show="editMode" ng-model="item1.city" />
                        </td>
                        <td>
                            <i ng-hide="editMode" ng-click="editMode = true; setUserId($index)" class="glyphicon glyphicon-edit"></i>
                            <i class="glyphicon glyphicon-saved" ng-show="editMode" ng-click=" editItem(item1)"></i>
                        </td>
                        <td>
                            <i ng-click="removeItem($index)" class="glyphicon glyphicon-trash"></i>
                        </td>
                        <td>
                            <a href="#/view/{{item1.email}}">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
